
%html{lang: "en"}
  %head
    %title Refund
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      #pwd-container.row
        .col-md-4
        .col-md-4
          %section.login-form
            .div.well
              - if @hash[:success]
                .otp_text{:style => 'text-align: center'}
                  = @hash[:msg]
                  %br 
                  %br 
              - else
                .otp_text{:style => 'text-align: center'}
                  = @hash[:msg]
                  .other_text{:style => 'text-align: center'}
                    = form_tag('/get_bank_details', :method => :get) do
                      = label_tag 'Account No.'
                      = text_field_tag 'acc_no',{:class => 'span2 validate[required] text-input'}
                      %br
                      = label_tag 'IFSC Code'
                      = text_field_tag 'ifsc',:class => 'span2 validate[required] text-input'
                      = hidden_field_tag :id, @refund.id
                      %br 
                      %br 
                      = submit_tag 'Next', :class => 'btn btn-primary'
                  %br 

        .col-md-4