%html{lang: "en"}
  %head
    %title Refund
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      #pwd-container.row
        .col-md-4
        .col-md-4
          %section.login-form
            .div.well
              - if @hash 
                .otp_text{:style => 'text-align: center'}
                  = "You'll receive Otp in Sometime."
                  %br 
                  %br 
                .other_text{:style => 'text-align: center'}
                  = form_tag('/validate_otp', :method => :get) do
                    = label_tag 'Enter Otp'
                    %br
                    = text_field_tag 'otp' 
                    = hidden_field_tag :id, @refund.id
                    %br 
                    %br 
                    = submit_tag 'Next', :class => 'btn btn-primary'
              - else
                .otp_text{:style => 'text-align: center'}
                  = "Your aadhaar no seems to be wrong. Contact merchant #{@refund.merchant.try(:name)}"
                  %br 
                  %br 
        .col-md-4