:css
  @CHARSET "UTF-8";
  /*
  over-ride "Weak" message, show font in dark grey
  */
  .font_styles{

  }

  .progress-bar {
      color: #333;
  } 

  /*
  Reference:
  http://www.bootstrapzen.com/item/135/simple-login-form-logo/
  */

  * {
      -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
  }

      .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      @include box-sizing(border-box);

      &:focus {
        z-index: 2;
      }
    }

  body {
    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .login-form {
    margin-top: 60px;
  }

  form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
    form[role=login] img {
      display: block;
      margin: 0 auto;
      margin-bottom: 35px;
    }
    form[role=login] input,
    form[role=login] button {
      font-size: 18px;
      margin: 16px 0;
    }
    form[role=login] > div {
      text-align: center;
    }
    
  .form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
  }
    .form-links a {
      color: #fff;
    }
%html{lang: "en"}
  %head
    %title Refund
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      #pwd-container.row
        .col-md-4
        .col-md-4
          %section.login-form
            .div.well
              - if @hash 
                .otp_text{:style => 'text-align: center'}
                  = "You'll receive otp in sometime."
                  %br 
                  %br 
                .other_text{:style => 'text-align: center'}
                  = form_tag('/validate_otp', :method => :get) do
                    = label_tag 'Enter Otp'
                    = text_field_tag 'otp' 
                    = hidden_field_tag :id, @refund.id
                    %br 
                    %br 
                    = submit_tag 'Next', :class => 'btn btn-primary'
              - else
                .otp_text{:style => 'text-align: center'}
                  = "Your aadhaar no seems to be wrong. Contact merchant #{@refund.merchant.try(:name)}"
                  %br 
                  %br 
        .col-md-4